@import url(topography.css);

/*--------------------------*/
:root {
    --GeneralAndSearchBarBg: #22252C;
    /*header*/
    --headerGreen: #2DB879;
    --headerBlue: #0F9AB4;
    --headerBg: linear-gradient(to left, var(--headerGreen), var(--headerBlue));
    --headerGreenShadow: #1c774ea2;

    /*gallery*/
    --galleryBg: #383B42;

    /*editor*/
    --editFontBg: #19A59F;
    --editFontShadow: #308B87;
    --lightGrayShadow: #88898D;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    background-color: var(--GeneralAndSearchBarBg);
    font-family: 'Poppins', sans-serif;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    border: none;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

input:focus,
select:focus {
    outline: none;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    justify-items: center;

    transition: 1s ease-in;
}

/*--------------------- Header --------------------*/
header,
footer {
    position: fixed;
    padding-inline: 2.5em 1.875em;
    background: var(--headerBg);
    color: whitesmoke;

    transition: 1s ease;
}

header {
    inset: 0;
    height: 4.75em;

    justify-content: space-between;
}

footer {
    bottom: 0;
    height: 2em;
    width: 100vw;

    justify-content: center;
}

.logo {
    font-size: 18px;
    margin-left: 0;
    
    cursor: default;
}


.logo,
.logo:hover span,
footer {
    font-family: 'Bubble', sans-serif;
}

footer span,
.logo span,
.logo:hover {
    font-family: 'BubbleOutline', sans-serif;
}

.header_btns {
    flex-direction: column;
    gap: 0;

    position: fixed;
    inset: 70px auto auto -100%;
    width: 100%;
    background: var(--headerBg);
    opacity: 0.9;

    justify-content: space-evenly;
    transition: 0.3s;
}

.header_btns .btn {
    font-size: 20px;
    border-radius: 1.1em;
    margin-block: 1em;
    padding-inline: 1.1em;
    padding-block: 0.3em;

    cursor: pointer;
}

.header_btns .btn:active {
    scale: 0.9;
}

.header_btns.active {
    inset-inline-start: 0;
}

.header_btns .btn:hover {
    color: var(--headerGreen);
    background-color: whitesmoke;
    box-shadow: 0 0.1875em 0.3125em var(--headerGreenShadow);
}

.hamburger {
    background-color: whitesmoke;
    border-radius: 50%;
    height: 2.8em;
    width: 2.8em;
    padding-block-start: 0.51em;

    display: block;
}

.hamburger .bar {
    display: block;
    width: 1.25em;
    height: 0.1875em;
    border-radius: 1em;
    background-color: var(--headerGreen);
    margin: 0.3125em auto;

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(0.5em) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-0.5em) rotate(-45deg);
}

/*-------------------- Gallery --------------------*/
.gallery {
    margin: 5.75em 1em 3em 1em;
    background-color: var(--galleryBg);
    border-radius: 1em;
    overflow: hidden;
    padding: 1.25em;

    transition: 1s ease-in;
}

.search-container {
    height: 8.75em;
    margin-block-end: 2.2em;

    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 1.4375em;
    row-gap: 0.1em;

    transition: 1s ease-in;
}

.search-bar {
    width: 33em;
    background-color: var(--GeneralAndSearchBarBg);
    border-radius: 2em;
    padding-inline-end: 1.5em;
    color: gray;

    justify-content: space-between;

    cursor: pointer;
}

.search-bar input {
    width: 100%;
    height: 3.3333em;
    background-color: transparent;
    border-radius: 1.7778rem;
    color: var(--keyWordsBarBg);
    border: none;
    font-size: 18px;
    text-align: center;
}

.fa-magnifying-glass {
    height: 2rem;
    padding-block-start: 0.48em;
    background: var(--headerBg);
    background-clip: text;
    color: transparent;
}

.gallery-btns {
    width: 100%;

    gap: 0.3125em;
    justify-content: space-between;

    transition: 1s;
}

.upload-btn,
.saved-btn {
    height: 2em;
    border-radius: 2em;
    background: var(--headerBg);
    color: whitesmoke;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

:is(.upload-btn, .saved-btn):active {
    scale: 0.9;
}

.upload-btn {
    width: 9em;
}

.saved-btn {
    width: 5em;
}

.upload-btn:hover,
.saved-btn:hover {
    background: var(--headerBlue);
    color: var(--GeneralAndSearchBarBg);
    box-shadow: 0 0.1875em 0.3125em var(--GeneralAndSearchBarBg);
}

.imgs-container {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 1em;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
    box-shadow: 0.1875em 0.3125em 0.3125em var(--GeneralAndSearchBarBg);

    cursor: pointer;
}

img:hover {
    scale: 1.1;
    transition: 0.3s ease;
}

.img-container {
    position: relative;
}

.delete-btn {
    z-index: 1;
    position: absolute;
    inset: 0.5em 0.5em auto auto;
    padding-inline: 0.4em;
    background-color: rgba(249, 121, 121, 0.5);
    border-radius: 50%;
}

/*--------------------- Editor --------------------*/
.editor {
    display: none;
    background-color: var(--GeneralAndSearchBarBg);
    margin-block: 0 3em;
}

.editor-container {
    margin-block: 5.75em 3em;
    margin-inline: 1em;

    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
    row-gap: 1.4375em;

    transition: 1s ease;
}

.editor-container>* {
    border-radius: 1em;
    background-color: var(--galleryBg);
}

.actions-container {
    padding: 1.275rem 1em;
    width: 100%;

    flex-direction: column;
    row-gap: 1.375rem;

    transition: 1s;
}

.canvas-outer-container {
    padding: 0.5em;
    box-shadow: 0.1875em 0.1875em 0.1875em var(--lightGrayShadow), -0.1875em -0.1875em 0.1875em var(--lightGrayShadow);
}

.canvas-inner-container,
canvas {
    width: 100%;
    display: block;
    border-radius: 1em;
}

.btns1 {
    gap: 1.25em;
    justify-content: center;
}

.btns3 {
    width: 100%;
    gap: 0.5em;
    justify-content: space-between;
}

.btns2 {
    padding: 0.625rem 1rem;
    background-color: var(--editFontBg);
    border-radius: 10px;

    grid-template-columns: repeat(5, minmax(5px, 1fr));
    gap: 1.5em;
}

.actions-container .text-input {
    border: 0;
    border-radius: 1rem;
    height: 2.2rem;
    width: 100%;
    background-color: #EBEEF3;
    box-shadow: inset 0 0.2rem rgb(255, 255, 255), inset 0 -0.2rem rgba(0, 0, 0, 0.5);
    text-align: center;
}

.actions-container .btn {
    border-radius: 0.373rem;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.btns1 .btn,
.btns2 .btn {
    width: 2rem;
}

.btns2 .btn {
    height: 2rem;
}

.save-btn,
.share-btn {
    width: 5.5rem;
    gap: 0.5rem;
}

.btns1 .btn,
.btns3 .btn {
    height: 2.2rem;
    box-shadow: inset 0 0.2rem rgba(255, 255, 255, 0.5), inset 0 -0.2rem rgba(0, 0, 0, 0.5);
    text-shadow: 0 0.09rem rgba(0, 0, 0, 0.3);
}

.btns2 .btn,
.font-btn {
    background-color: whitesmoke;
    box-shadow: 0 3px var(--editFontShadow);
}

.font-btn {
    grid-column: 2 span;

    width: 7rem;
    border-radius: 1em;
    border: 0;
    border-radius: 1rem;
    text-align: center;

    cursor: pointer;
}

.switch-btn {
    background-color: #4CB7D2;
}

.add-btn {
    background-color: #3DD154;
}

.remove-btn {
    background-color: #E33C36;
}


.save-btn {
    background-color: #4cd2ba;
}

.share-btn {
    background-color: #1E7CD3;
}

.download-btn {
    width: 7.1rem;
    color: black;
    text-decoration: none;
    background-color: #8F44BB;
}

/*-------------------- Desktop ---------------------*/
@media (width > 400px) {
    .actions-container {
        padding: 1.275rem 2em;
        width: auto;
    }
}

@media (width > 540px) {

    /*-------- Header --------*/
    .header_bar {
        margin-block-start: 0.9375em;
        margin-inline: 1em;
        padding-inline: 5.3125em;
        border-radius: 2.5em;
    }

    .header_bar::before {
        content: '';
        height: 0.9375em;
        width: 100vw;
        position: fixed;
        inset: 0;
        background: var(--GeneralAndSearchBarBg);
    }

    .header_btns {
        inset: auto;
        background: transparent;
        width: 40%;

        flex-direction: row;
        gap: 1.4375em;

        position: relative;
    }

    .header_btns .btn {
        margin-block: 0em;
    }

    .hamburger {
        display: none;
    }

    /*-------- Gallery --------*/
    .gallery {
        margin-block-start: 6.6875em;
        padding: 1.5625em;
    }

    .gallery-btns {
        width: 20em;
    }

    .search-container {
        height: 3.75em;
        margin-block-end: 3.125em;

        flex-wrap: nowrap;
    }

    .imgs-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        column-gap: 1em;
        row-gap: 1.5em;
    }

    img {
        width: 200px;
        height: 200px;
    }

    /*-------- Editor --------*/
    .editor-container {
        margin-block-start: 8em;
    }
}

@media (width > 800px) {

    /*-------- Editor --------*/
    .editor-container {
        flex-direction: row;
    }
}